// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary-link-color: blue;

$black: #212121;

$breakkpoint-xl:        1200px;
$breakpoint-lg:         992px;
$breakpoint-medium:     768px;
$breakpoint-small:      520px;
$breakpoint-xtra-small: 375px;


///
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback), 
///                 minumum of 35px and maximum of 150px
///  @include responsive-font(5vw, 35px, 150px, 50px);
///
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;
    
    @media (max-#{$dimension}: #{$min-breakpoint}) {
      font-size: $min;
    }
    
    @if $max {
      $max-breakpoint: $max / $responsive-unitless * 100;
      
      @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max;
      }
    }
    
    @if $fallback {
      font-size: $fallback;
    }
    
    font-size: $responsive;
}


.nav-item {
    text-transform: uppercase;
    .nav-link {
        opacity: 1 !important;
        color: $primary-link-color !important; // TODO: Use actual primary-link colors
        &:hover {
            opacity: .75 !important;
        }
    }
}

.site-main {
    max-width: 100%;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    //align-items: flex-end;

    article {
        padding: 5px;
        flex: 1 0 calc(33.33% - 10px);
        margin: 5px;

        &.sticky {
            display: block;
            flex: 0 0 calc(100% - 10px) !important;
            height: auto;
        }

        .entry-header {
            
            h2.entry-title {
                @include responsive-font(3vw, 24px, 32px);
            }
        }

        .entry-content {
            p {
                @include responsive-font(2.5vw, 13px, 16px);
            }
        }
    }
}

@media (max-width: $breakpoint-lg) {
    .articles {
        article {
            flex: 1 0 calc(50% - 10px);
        }
    }
}

@media (max-width: $breakpoint-small) {
    .articles {
        article {
            flex: 1 0 calc(100% - 10px);
        }
    }
}